@main-color: #323232;
@main-font-color: #ffffff;
@font-color: #333333;
@dialogue-color: #1f4b60;

@contextual-menu-color: #222222;
@contextual-menu-hover-color: fade( #000000, 30%);

@top-bar-color: @main-color;
@main-icon-color: #ffffff;
@button-color: #252525;
@button-main-color: #3b7637;
@menu-color: rgba(255, 255, 255, 0.3);

@board-list-column: #444444;
