@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import "flowIcons/style";
@import "colors";

@base-z-index: 1;

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
    user-select: none;

    &:focus {
      outline: none !important;
    }
  }

  ::selection {
    color: #0c0c0c;
    background: #bcbcbc;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.2);
  }

  [contenteditable] {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0 10px;

    &:focus {
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.57);
      border: 1px solid rgba(255, 255, 255, 0.4) !important;
    }
  }

  i.icon {
    padding: 0 10px 0 0;
    color: @main-icon-color;

    &.menu {
      color: @menu-color;
    }
  }

  button {
    display: inline-block;
    vertical-align: text-bottom;
    text-transform: uppercase;
    font-size: 80%;
    min-width: 75px;
    padding: 5px;
    margin: 12px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
    box-shadow: 2px 2px 10px rgba(12, 12, 12, 0);
    background-color: @button-color;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s;
    opacity: .6;

    &.main {
      background-color: @button-main-color;
      opacity: 1;

      &:hover {
        background-color: lighten(@button-main-color, 10%);
      }
    }

    &.alert {
      background-color: #e74c3c;
    }

    &.small {
      height: 25px;
      min-width: 0;
      padding: 5px;
    }

    &.round {
      height: 25px;
      width: 25px;
      min-width: 0;
      padding: 5px;
      border-radius: 100%;

      i.icon {
        padding: 0;
        color: @main-icon-color;
        line-height: 0;
      }
    }

    &:hover {
      box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.4);
      background-color: lighten(@button-color, 10%);
      opacity: 1;
    }
  }

  body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #323232;

    overflow: hidden;

    &.mini-map{
      pointer-events: none;
    }

    ol {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    #selection {
      position: absolute;
      border: 3px dotted rgba(255, 255, 255, 0.3);
    }

    #top-bar {
      position: fixed;
      top: 0;
      width: 100vw;
      min-height: 50px;
      padding: 0 10px;
      background-color: fade(@top-bar-color, 70%);
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.4);
      z-index: calc(@base-z-index + 1);

      #logo {
        position: absolute;
        top: 15px;
        left: 10px;
        height: 60px;
        filter: drop-shadow(10px 10px 4px rgba(12, 12, 12, 0.4));

        img {
          height: 100%;
        }
      }

      h1 {
        position: relative;
        display: inline-block;
        margin: 10px 20px 0 250px;
        max-width: 40vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        left: 0;
        top: 0;
        padding: 5px;
        color: #fff;
        font-weight: 100;
        font-size: 170%;
        height: 50px;
        text-align: left;

        span {
          display: block;
          text-align: left;
          width: 100%;
        }
      }

      .flows-menu {
        position: relative;
        top: -10px;
        display: inline-block;
        vertical-align: center;
        font-size: 140%;
        font-weight: 100;
        padding: 10px 10px;
      }

      #flows-button-bar {
        position: absolute;
        right: 0;
        top: 20px;

        .round {
          height: 35px;
          width: 35px;
          margin-top: -5px;

          .icon {
            font-size: 130%;
            line-height: 100%;
          }
        }
      }
    }

    #wrapper {
      position: fixed;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      z-index: @base-z-index;

      #boards-list-column {
        position: absolute;
        display: inline-block;
        vertical-align: top;
        // background-color: @board-list-column;
        background-color: fade(@board-list-column, 90%);
        width: 250px;
        height: calc(100vh - 0px);
        padding: 75px 0 0 0;
        overflow: auto;
        box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.4);
        z-index: calc(@base-z-index + 1);

        #boards-list-button-bar {
          margin-top: 10px;
          text-align: right;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);

          .group-label {
            position: absolute;
            padding: 5px 10px;
            font-size: 120%;
            font-weight: 400;
            color: #757575;

            i.icon {
              font-size: 60%;
              margin-left: 10px;
            }
          }
        }

        #boards-list {

          .board-list-element {
            padding: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            width: 100%;
            //background-color: lighten(@button-color, 8%);

            &:hover {
              background-color: @main-color;
            }

            &.selected {
              background-color: darken(@main-color, 10%);
            }

            .name {
              display: inline-block;
              padding: 5px;
              color: @main-font-color;
              width: calc(100% - 60px);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin-right: 5px;
              border: 1px solid transparent;
              cursor: default;
              user-select: none;
            }

            i {
              vertical-align: super;
              width: 20px;
              margin: 0;
              cursor: pointer;

              &.icon-reorder {
                color: rgba(255, 255, 255, 0.2);
                cursor: move;
              }
            }
          }
        }
      }

      #draw-area {
        position: absolute;
        overflow: hidden;
        width: calc(100vw);
        height: calc(100vh);
        top: 0;
        left: 0;
        zoom: 1;

        #grid {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          .hline {
            position: absolute;
            border-top: 1px dashed rgba(168, 182, 192, 0.1);
            width: 100%;
            height: 1px;
          }

          .vline {
            position: absolute;
            border-left: 1px dashed rgba(168, 182, 192, 0.1);
            height: 100%;
            width: 1px;
          }
        }

        #board {
          position: absolute;
          top: 0;
          left: 0;
          min-width: calc(100vw);
          min-height: calc(100vh);
        }

        //Nodes
        .node {
          position: absolute;
          box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.4);
          width: 240px;

          &[data-connections-count="0"]:not([data-type="note"]):after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border: 3px solid @dialogue-window-color-alert;
            background-color: #ffffff;
            border-radius: 100%;
            bottom: -10px;
            right: -10px;
          }

          &[data-fail-connection-count="0"]:after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border: 3px solid @dialogue-window-color-alert;
            background-color: #ffffff;
            border-radius: 100%;
            bottom: -10px;
            right: -10px;
          }

          .anchor {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: transparent;
            right: -10px;
            top: calc(50% - 5px);
          }

          .menu {
            position: relative;
            display: inline-block;
            background-color: fade(@main-color, 20%);
            //border-radius: 5px 5px 0 0;
            width: 100%;
            left: 0;
            top: 0;
            height: 25px;

            .actor-avatar {
              position: absolute;
              width: 40px;
              height: 40px;
              left: -15px;
              top: -15px;
              background: transparent;
              //z-index: 100;
            }

            i.icon {
              position: relative;
              color: darken(@main-color, 4%);
              font-size: 100%;
              line-height: 100%;

              &.node-menu {
                position: absolute;
                top: 5px;
                right: 10px;
                text-align: right;

                &:hover {
                  cursor: pointer !important;
                }
              }
            }

            .node-button-bar {
              position: absolute;
              padding: 3px;

              i.icon {
                color: fade(@main-color, 60);
              }

              .node-icon {
                color: fade(@main-color, 40);
              }
            }

            .actor-name {
              font-family: 'Patrick Hand SC', sans-serif;
              font-size: 120%;
              padding: 0;
              margin: -5px 0 0;
              width: 100px;
              display: inline-block;
              vertical-align: top;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &.selected {
            outline: 4px solid @selected-node;
          }

          .node-content {
            margin-bottom: 5px;

            .node-content-line {
              position: relative;

              &.ui-sortable-helper {
                background-color: white;
                color: #222222 !important;
              }

              i.icon {
                position: absolute;
                top: 3px;
                left: 3px;
                color: rgba(50, 50, 50, 0.34);
                cursor: move;
                //z-index: 1;
                font-size: 60%;
              }

              .node-text {
                font-family: 'DM Mono', monospace;
                font-size: 16px;
                padding-left: 20px;
                position: relative;
                width: 100%;
                min-height: 30px;
                //max-height: 100px;
                overflow: auto;
                background-color: fade(#ffffff, 10%);
                box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);
              }

              .variables {
                position: relative;
                display: inline-block;
                background-color: #222222;
                font-family: monospace;
                //margin: 3px;
                padding: 2px;
                color: #fff;
                box-shadow: inset 2px 2px 5px rgba(31, 31, 31, .1);
                border-radius: 4px;
                font-size: 80%;

                i {
                  font-style: normal;
                  color: #f0ce1b;
                }
              }
            }
          }

          &[data-type="start"] {
            width: 60px;
            height: 60px;
            background-color: @selected-node;
            border-radius: 100%;
            left: 300px;
            top: 120px;

            i {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              height: 40px;
              font-size: 36px;
              text-align: center;
              line-height: 100%;
              padding: 0;
            }
          }

          &[data-type="text"] {
            background-color: #ffffff;
            top: 40px;
            left: 40px;

            .menu {
            }

            .node-button-bar {
              padding-left: 30px;
            }

            .node-content-line {
              height: 100%;
              padding: 5px;
              //background-color: fade(#000, 10%);
              box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);
              border-bottom: 1px solid rgba(31, 75, 96, 0.2);
            }
          }

          &[data-type="note"] {
            min-height: 100px;
            background-color: rgb(208, 196, 0);
            transform: rotate(-4deg);
            z-index: 0;

            top: 40px;
            left: 40px;

            .menu {
              //position: absolute;
              // background-color: transparent;
            }

            .node-content-line {
              height: 100%;
              min-height: 90px;
              padding: 5px;
              background-color: transparent;
              box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);

              .node-text {
                padding: 5px;
                background-color: transparent;
                min-height: 90px;
              }
            }
          }

          &[data-type="variables"] {
            min-height: 100px;
            background-color: rgb(132, 146, 156);
            top: 40px;
            left: 40px;

            .menu {
              position: absolute;
              background-color: transparent;

              i.icon {
                color: #ffffff;
              }
            }

            .node-content-line {
              margin-top: 20px;
              height: calc(100% - 20px);
              min-height: 90px;
              padding: 5px;
              background-color: transparent;
              box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);

              .node-text {
                color: #ffffff;
                background-color: transparent;
                min-height: 90px;
                padding: 5px;
              }
            }
          }

          &[data-type="jumpToNode"] {
            min-height: 40px;
            background-color: rgb(34, 34, 34);
            top: 40px;
            left: 40px;

            .menu {
              position: absolute;
              background-color: transparent;

              i.icon {
                color: #ffffff;
              }
            }

            .node-content {
              margin-top: 20px;
              height: calc(100% - 20px);
              min-height: 30px;
              padding: 5px;
              background-color: transparent;
              box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);

              select {
                background-color: #0c0c0c;
                color: #ffffff;
                padding: 5px;
                width: 49%;

              }
            }
          }

          &[data-type="choice"] {
            width: 240px;
            background-color: #739f73;
            //border-radius: 10px;
            top: 40px;
            left: 40px;

            i.icon {
              color: #ffffff;
            }

            .node-button-bar {
              padding-left: 30px;
            }

            .node-content {
              .node-content-line {
                position: relative;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding: 5px;
                color: #ffffff;

                .node-text {
                  // max-height: 100px;
                  overflow: auto;
                  background-color: transparent;
                  box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);
                }
              }
            }
          }

          &[data-type="sequence"] {
            width: 60px;
            background-color: #9f637b;
            top: 40px;
            left: 40px;

            i.icon {
              color: #ffffff;
            }

            .node-button-bar {
              padding-left: 5px;

              i.icon {
                color: #ffffff;
              }
            }

            .node-content {
              .node-content-line {
                position: relative;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                padding: 5px;
                min-height: 10px;
                color: #ffffff;

                .node-text {
                  // max-height: 100px;
                  overflow: auto;
                  min-height: 10px;
                  background-color: transparent;
                  box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);
                }
              }
            }
          }

          &[data-type="random"] {
            width: 60px;
            height: 60px;
            background-color: #6e0d3f;
            //border-radius: 0;
            top: 40px;
            left: 40px;

            i {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              height: 45px;
              font-size: 32px;
              text-align: center;
              line-height: 150%;
              padding: 0;
            }
          }

          &[data-type="condition"] {
            width: 240px;
            background-color: #7f0000;
            //border-radius: 0;
            top: 40px;
            left: 40px;

            .menu {
              background-color: transparent;

              i.icon {
                color: #ffffff;
              }
            }

            .node-content {

              .node-content-line {
                background-color: fade(#fff, 100%) !important;
                padding: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);


                .node-text {
                  font-family: monospace;
                  height: 100%;
                  color: @alert-font-color;
                  padding-left: 0;
                  background-color: fade(#fff, 100%) !important;
                  box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }

  .flow-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(64, 64, 64, 0.8);
    z-index: calc(@base-z-index + 2);

    //Dialogue window
    .flow-dialogue {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 40vw;
      min-height: 400px;
      max-height: 40vh;
      background-color: @dialogue-window-color;
      color: #ffffff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      padding: 40px;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.2);

      &.alert {
        background-color: @dialogue-window-color-alert;

        button {
          &.main {
            background-color: @alert-button-main;
            color: @alert-button-main-font;
          }
        }
      }

      .flow-dialogue-title {
        font-weight: 100;
        font-size: 200%;
      }

      .flow-dialogue-text {
        font-size: 150%;
      }

      .flow-dialogue-input {
        padding: 10px;
        width: 100%;
        margin: 40px auto;
        max-width: 30vw;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 0);
        background-color: #323232;
        font-family: 'Open Sans', sans-serif;
        font-size: 140%;
        font-weight: 100;
        color: #ffffff;
        text-align: center;
        transition: all .3s;
        white-space: nowrap;

        &:focus {
          border: 1px solid rgba(255, 255, 255, 0.4);
          box-shadow: inset 2px 2px 5px rgba(31, 31, 31, 1);
        }
      }

      .flow-button-bar {
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 100%;
        //height: 50px;
        text-align: center;

        button {
          font-size: 100%;
          min-width: 100px;
          padding: 10px;
        }
      }
    }
  }

  #actors-window {

    .flow-dialogue {
      text-align: left;
      max-height: 80vh;
      background-color: @dialogue-window-color;
      border: 1px solid rgba(255, 255, 255, 0.2);

      .flow-button-bar {
        text-align: right;
        bottom: 0;
        //top: 0;
      }

      .flow-dialogue-title {
        margin-top: 0;
      }

      .actors-list {
        overflow: auto;
        padding: 5px;
        height: calc(100% - 130px);
        box-shadow: inset 0 0 8px 5px rgba(0, 0, 0, 18%);

        .actors-line {
          position: relative;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);

          .alert.delete {
            position: absolute;
            top: 0;
            right: 0;
          }

          .avatar {
            width: 80px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;

            &:hover:after {
              content: "Edit";
              position: absolute;
              bottom: 0;
              padding: 5px;
              background-color: #333333;
            }
          }

          .actor-data {
            width: calc(100% - 130px);
            display: inline-block;
            vertical-align: top;

            label {
              margin: 0;
              padding: 0;
              font-size: 80%;
              color: rgba(255, 255, 255, 0.3);
            }

            .name {
              padding: 5px;
              //border: 1px solid rgba(255, 255, 255, 0.3);
              background: rgba(255, 255, 255, 0.1);
              margin: 3px;
            }

            .bio {
              margin: 3px;
              padding: 5px;
              //border: 1px solid rgba(255, 255, 255, 0.3);
            }

            .color {
              width: 30px;
              height: 30px;
              background: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
    }
  }

  #avatar-window {
    .flow-dialogue {
      text-align: left;
      max-height: 60vh;
      background-color: @dialogue-window-color;
      border: 1px solid rgba(255, 255, 255, 0.2);

      .flow-button-bar {
        text-align: right;
        bottom: auto;
        top: 0;
      }

      .flow-dialogue-title {
        margin-top: 0;
      }

      .avatar {
        width: 210px;
        display: inline-block;
        vertical-align: top;
      }

      .options-editor {
        width: calc(100% - 220px);
        display: inline-block;
        vertical-align: top;

        .options {
          .option {
            padding: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            label {
              display: inline-block;
              width: 200px;
              white-space: nowrap;
            }
          }
        }

        input[type="color"] {
          padding: 0;
          margin: 0;
          border: none;
          background: transparent;
          width: 40px;
          height: 40px;
          vertical-align: middle;
        }

        button#randomize {
          vertical-align: baseline;
          float: right;
        }
      }
    }

  }


  /**
  Contextual flowMenu
  */

  .contextual-menu {
    min-width: 150px;
    background-color: fade(@contextual-menu-color, 90%);

    box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.4);
    padding: 0;
    margin: 0;
    border-radius: 10px;
    z-index: calc(@base-z-index + 100);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: block;
        padding: 5px 15px;
        color: @main-font-color;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s;
        border-top: 1px solid fade(@main-color, 40%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background-color: @contextual-menu-hover-color;
        }

        &.separator {
          border-top: 1px solid fade(@contextual-menu-separator-color, 20%);
          cursor: default;
          height: 1px;
          line-height: 0;
          margin-bottom: -10px;

          &:hover {
            background-color: transparent;
          }
        }

        &.alert {
          color: @alert-font-color;
        }

        &.listTitle {
          color: lighten(@main-color, 20%);
          cursor: default;

          &:hover {
            background-color: transparent;
          }
        }

        &.listElement {
          color: #d5c8a6;
        }

        &.highlight {
          color: @highlight-font-color;
        }
      }
    }
  }

  /**
  Node Editor
   */

  .dialogue-window {
    position: fixed;
    width: 350px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    background-color: @main-color;
    color: @main-font-color;
    text-align: center;

    .dialogue-content {
      position: relative;
      margin: auto;
      border: 1px solid white;
      width: 70%;
      padding: 5px;
      text-align: left;
    }
  }
}

//Sortable
body.dragging, body.dragging * {
  cursor: move !important;
}

/*
body.move-board * {
  cursor: grab !important;
}
*/

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: calc(@base-z-index + 1000);
}

.typeahead.dropdown-menu {
  background-color: rgba(34, 34, 34, 0.9);
  color: #ffffff;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 5px;

    a {
      color: #ffffff;
      text-decoration: none;
    }

    &.active {
      background-color: #000000;
    }
  }
}


